# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.class
build/resources/main/public/css/normalize.css
build/resources/main/public/css/site.css
build/resources/main/templates/base.hbs
build/resources/main/templates/detail.hbs
build/resources/main/templates/edit.hbs
build/resources/main/templates/index.hbs
build/resources/main/templates/new.hbs
build/resources/main/templates/password.hbs
.idea/compiler.xml
.idea/misc.xml
.idea/modules/SparkBlog_main.iml
.idea/modules/SparkBlog_test.iml
.idea/workspace.xml
